/* color */
.bg-user{
    background-color: var(--user_select) 
}
.bg-send-mess{
    background-color: var(--send_message);
}
.bg-rec-mess{
    background-color: var(--received_message);
}
/* dropdown */
.dropdown button{
    border-radius: 10px;
}
.dropdown small{
    display: block;
    width: 60px;
    text-align: end;
}
.dropdown{
    position: relative;
    display: inline-block;
    z-index: 10;
    text-align: end;
}
.dropdown-menu.form-new-user{
    text-align: center;
}
.dropdown-hover{
    display: inline-block;
    background-color: transparent;
    color: var(--dropdown-text);
    cursor:pointer;
    border: none;
}
.dropdown-menu{
    position: absolute;
    display: none;
    top: 15px;
    right: 0px;
    min-width: 200px;
    background: var(--dropdown-bg);
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}
.dropdown-menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    border: none;
    border-top: solid 1px #e0e0e0;
}
.dropdown-menu a:hover{
    background-color: var(--dropdown-hover-bg);
    color: var(--dropdown-hover);
}
/* btn dropdown */
.btn-create{
    margin-top: 20px;
    border: 2px solid black;
    font-size: 0.6rem;
    padding: 5px;
    background-color:grey;
    color: #e0e0e0;
    z-index: 100;
}
.form-new-user {
    /* position: relative; */
    overflow: hidden;
    padding: 20px ;
    width: 100px;
    height: 200px;
    border-radius: 20px;
    width: 100%;
    background-color: #2f2d2d;
}
.form-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-new-user input{
    height: 20px;
    width: 150px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(251, 247, 247);
    font-size: 7px;
    margin-top: 20px;
    z-index: 100;
}
/* oggetti estetici sopra il form */
.form-new-user::before{
    content:'';
    position: absolute;
    width: 400px;
    height: 400px;
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    top: -30px;
   
}
.form-new-user::after{
    content:'';
    position: absolute;
    width: 400px;
    height: 400px;
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    top: -30px;
    left: -200px;
}
/* hover */
.d-block{
    display: block;
}
i:hover:not(.notifications i),button:hover{
    cursor: pointer;
    color: var(--dropdown-new-user);
}
.user-list .user:hover{
    cursor:default;
    background-color: var(--dropdown-new-user);
}
.btn-create:hover{
    background-color: var(--dropdown-new-user);
    color: #000000;
    border: 2px solid #070707 ;
}
/* z index */
.z-index{
    z-index: 20;
}
button,input{
    border:none;
    background-color: inherit;
}
h3{
    color: white;
}
input:focus{
    outline: none !important;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--color_black);

}


