/* color */
.bg-user{
    background-color: var(--user_select) 
}
.bg-send-mess{
    background-color: var(--send_message);
}
.bg-rec-mess{
    background-color: var(--received_message);
}
/* dropdown */
.dropdown button{
    border-radius: 10px;
}
.dropdown small{
    display: block;
    width: 100px;
}
.dropdown{
    position: relative;
    display: inline-block;
    z-index: 10;
    text-align: center;
}
.dropdown-hover{
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    color: var(--dropdown-text);
    cursor:pointer;
    border: none;
}
.dropdown-menu{
    position: absolute;
    display: none;
    top: 0%;
    right: 0px;
    min-width: 200px;
    background: var(--dropdown-bg);
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    border: none;
    border-top: solid 1px #e0e0e0;
}
.dropdown-menu a:hover{
    background-color: var(--dropdown-hover-bg);
    color: var(--dropdown-hover);
}
/* btn dropdown */
.btn-create{
    margin-top: 20px;
    border: 2px solid black;
    font-size: 0.6rem;
    padding: 5px;
    background-color:grey;
    color: #e0e0e0;
}
.form-new-user {
    padding: 20px ;
    width: 100px;
    height: 200px;
    border-radius: 20px;
    width: 100%;
}
.form-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-new-user input{
    height: 20px;
    width: 150px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(251, 247, 247);
    font-size: 7px;
    margin-top: 20px;
}
/* hover */
i:hover:not(.notifications i),button:hover{
    cursor: pointer;
    color: var(--dropdown-new-user);
}
/* z index */
.z-index{
    z-index: 20;
}

/* animation buttons */
.btn-create:hover{
    background-color: #0df24e;
    color: #000000;
    border: 2px solid #070707 ;
}