.big-container{
    width: calc(100% - 200px);
    height: calc(100% - 30px);
    display: flex;
    background-color: var(--main_containerz);
    border: 1px solid var(--color_black);
}
.box-30{
    width: 30%;
}
.box-70{
    width: 70%;
    
}
.box-img{
    width: 50px;
    height: 50px;
}
.container-chat{
    width: calc(100% - 200px);
    height: calc(100% - 80px);
    
}