*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: var(--body_color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
    display: block;
}
i,button{
    cursor: pointer;
}