/* box-70 chat message */
.form-new-user {
    padding: 20px ;
    width: 300px;
    height: 400px;
    border-radius: 20px;
}
.form-new-user input{
    height: 40px;
    width: 250px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--dropdown-new-user);
}
.container-chat{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc(100% - 60px);

}
.chat-message{
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-message{
    padding: 10px;
    margin: 5px ;
    border-radius: 10px;
    width: 200px;
}

.message-sent small{
   font-size: 10px;
   text-align: center;
   width: 60px;
}
.arrow-menu{
    text-align: center;
} 

/* bar message */
.bar-message{
    padding: 15px 5px;
}
.bar-message  .message-text{
    flex-grow: 1;
}
.bar-message input{
    width: 100%;
    padding: 10px 0px;
}
.bar-message i{
    padding: 10px 30px;
}