.box-30 > div{
    width: 100%;
}
.user{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}
.box-img img{
    border-radius: 100%;
    width: 50px;
}
.user-slot{
    display: flex;
    align-items: center;
}
.user-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.user-icon i{
    padding: 0px 15px;
}
/* notifications */
.notifications{
    background-color: var(--bg_notification);
    align-items: center;
    padding: 10px;
}
.notifications .box-img{
    background-color: var(--bg_logo_notification);
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    color: var(--color_logo);
}
.inf-text{
    padding-left: 10px;
}
.inf-text small{
    text-decoration: underline;
}
/* search-bar */
.search-bar input{
    width: calc(100% - 80px);
    padding: 10px 0px;
}
/* button */
.search-bar{
    padding: 5px;
    background-color: var(--search_bar);
}
.search-bar button{
    padding: 10px 30px;
}
/* user list */

.date{
    text-align: end;
    width: 200px;
  
}
.user-list{
    overflow-y: scroll;
    background-color: var(--bg_user_list);
    height: calc(100% - 190px);
}
