
.user{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.user > .user-slot{
    width: 80%;
}
.box-img img{
    border-radius: 100%;
}
.user-slot{
    display: flex;
    align-items: center;
}
.user-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.user-icon i{
    padding: 0px 10px;
}
/* notifications */
.notifications{
    background-color: var(--bg_notification);
    align-items: center;
    padding: 10px;
    height: 50px;
}
.notifications .box-img{
    background-color: var(--bg_logo_notification);
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    color: var(--color_logo);
}
.inf-text{
    padding-left: 10px;
}
.inf-text small{
    text-decoration: underline;
}
/* search-bar */

.search-bar input{
    width: calc(100% - 75px);
    padding: 5px 0px;
    font-size: 0.5rem;
}
/* button */
.search-bar{
    height: 40px;
    line-height: 40px;
    background-color: var(--search_bar);
    padding: 0px 5px;
}
.search-bar button{
    padding: 1px 30px;
}
/* user list */

.date{
    text-align: end;
    width: 100px;
}
.user-list{
    overflow-y: scroll;
    height: calc(100% - 140px);
    background-color: var(--bg_user_list);
}
.user-name{
    padding-left: 5px;
}

