<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- cdn vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!--link css  -->
        <link rel="stylesheet" href="css/style.css">
        <!-- cdn font aw -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <title>whats</title>
    </head>
    <body>
        
        <div id="app" class="big-container">
           <div class="box-30">
                <div class="user bg-grey">
                    <div class="user-slot">
                        <div class="box-img">
                            <img src="img/avatar_2.jpg" alt="user-img">
                        </div>
                        <div class="user-name">
                            <p>Matteo</p>
                        </div>
                    </div>       
                    <div class="user-icon">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
            <div class="notifications flex">
                <div class="box-img">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div class="inf-text">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <small> Attiva notifiche desktop</small>
                </div>
            </div>
            <div class="search-bar">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" v-model="searchName">
            </div>
            <!-- user list generata con v-for -->
            <div class="user-list" >
                <div class="user" v-for="(contact, index) in contacts" @click="userSelector(index)" v-show="filterList(contact)" :class="{'bg-grey' : index === active}">
                    <div class="user-slot">
                        <div class="box-img">
                            <img :src="`img/avatar${contact.avatar}.jpg`" alt="user-img">
                        </div>
                        <div class="user-name">
                            <p>{{contact.name}}</p>
                             <small >{{lastMessage(contact).message}}</small>
                        </div>
                    </div>    
                    <div class="date">
                        <small>12.00</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-70 flex column">
            <div class="user bg-grey">
                <div class="user-slot">
                    <div class="box-img">
                        <img :src="`img/avatar${contacts[active].avatar}.jpg`" alt="user-img">
                    </div>
                    <div class="user-name">
                        <p>{{contacts[active].name}}</p>
                        <small>Ultimo accesso oggi alle 12.00</small>
                    </div>
                </div>       
                <div class="user-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!-- container chat -->
            <div class="chat-message flex"> 
                <div class="container-chat">
                    
                    <div v-for="(message, index) in allMessages">
                        <div v-if="message.status === 'sent'" class="message-sent bgGreen flex">
                            <div>
                                <p>{{message.message}}</p>
                            </div>
                            <div class="dropdown">
                                <button class="arrow-menu dropdown-hover"><i class="fa-solid fa-chevron-down"></i></button>
                                <div class="dropdown-menu">
                                    <a href="#" @click="removeMessage(index)"> Eliminate <i class="fa-solid fa-sack-xmark"></i></a>
                                    <a href="#" @click="removeMessage(index)"> Eliminate <i class="fa-solid fa-sack-xmark"></i></a>
                                </div>
                                <small>12.00</small>
                            </div>
                            
                           
                        </div>
                        <div v-else class="message-received">
                            {{message.message}}
                        </div>
                  </div>
                </div>      
            </div>
            <!-- bar message -->
            <div class="bar-message flex bg-grey">
                <div><i class="fa-regular fa-face-smile"></i></div>
                <div class="message-text">
                    <form @submit.prevent="insertMessage">
                        <input type="text" v-model="newMessage">
                    </form>
                </div>
                <div><i class="fa-solid fa-microphone"></i></div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
    </body>
</html>